.container {
  width: 100%;
  min-height: 100vh;
  padding: 0 5%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
}

.form {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 15px;
}

img {
  display: inline-block;
  max-width: 100%;
  object-fit: cover;
}

.flex {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 2rem auto;
  padding: 10px;
  box-shadow: 0 0 25px rgba(30, 30, 30, 0.115);
}

.flex div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(30, 30, 30, 0.115);
}

.flex img {
  height: 100px;
}
